[submodule "googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "civetweb"]
	path = 3rdparty/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "3rdparty/cpr"]
	path = 3rdparty/cpr
	url = https://github.com/whoshuu/cpr.git
