[submodule "googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "civetweb"]
	path = 3rdparty/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "3rdparty/cpp-base64"]
	path = 3rdparty/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
