name: Continuous Integration
on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.buildsystem }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        buildsystem: [bazel, cmake]
        os: [macOS-latest, ubuntu-16.04, windows-2016]
    steps:
      - uses: actions/checkout@master
        with:
          submodules: true
      - name: Prepare
        run: .github/scripts/run-prepare ${{ matrix.buildsystem }} ${{ matrix.os }}
      - name: Test
        run: .github/scripts/run-${{ matrix.buildsystem }}-test ${{ matrix.os }}
